.husky {
  float: left;
  width: 200px;
  position: relative;
  top: 20px;
  left: 50px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(10deg);
  filter: grayscale(100);
  padding: 10px 10px 40px 10px;
  opacity: 0.5;
}

.labrador {
  float: left;
  width: 200px;
  position: relative;
  top: -30px;
  left: -50px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(5deg);
  filter: grayscale(100);
  padding: 10px 10px 40px 10px;
  opacity: 0.5;
}

.retriever {
  float: left;
  width: 200px;
  position: relative;
  top: -80px;
  left: -140px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(-5deg);
  filter: grayscale(100);
  padding: 10px 10px 40px 10px;
  opacity: 0.5;
}

.shepherd {
  float: left;
  width: 200px;
  position: relative;
  top: -120px;
  left: -250px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(-10deg);
  filter: grayscale(100);
  padding: 10px 10px 40px 10px;
  opacity: 0.5;
}

.husky:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
  background: white;
}
.labrador:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
  background: white;
}
.retriever:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
  background: white;
}
.shepherd:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
  background: white;
}
