.husky {
  float: left;
  width: 200px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(20deg);
  filter: grayscale(100);
}

.labrador {
  float: left;
  width: 200px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(20deg);
  filter: grayscale(100);
}

.retriever {
  float: left;
  width: 200px;
  border: 2px solid black;
  margin: 200px 10px;
  transform: rotate(20deg);
  filter: grayscale(100);
}

.husky:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
}
.labrador:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
}
.retriever:hover {
  transform: rotate(0deg);
  z-index: 1;
  opacity: 1;
  filter: grayscale(0);
}
